<div class="form-group mt-1 mb-2">
  <label for="selectRegion">
    <i class="fas fa-filter"></i>
    &nbsp;
    Filtra por región&nbsp;
  </label>
  <select class="form-control" name="region" onchange="this.form.submit()">
    <option value="" disabled selected>Escoge una región</option>
    <option
      value="TODAS"
      {% if region == "TODAS" %}
      selected
      {% endif %}
    >
      Todas las regiones
    </option>
    <option
      value="NoDefinida"
      {% if region == "NoDefinida" %}
      selected
      {% endif %}
    >
      Región no definida
    </option>
    <option
      value="AMAZONAS"
      {% if region == "AMAZONAS" %}
      selected
      {% endif %}
    >
      Amazonas
    </option>
    <option
      value="ANCASH"
      {% if region == "ANCASH" %}
      selected
      {% endif %}
    >
      Ancash
    </option>
    <option
      value="APURIMAC"
      {% if region == "APURIMAC" %}
      selected
      {% endif %}
    >
      Apurimac
    </option>
    <option
      value="AREQUIPA"
      {% if region == "AREQUIPA" %}
      selected
      {% endif %}
    >
      Arequipa
    </option>
    <option
      value="AYACUCHO"
      {% if region == "AYACUCHO" %}
      selected
      {% endif %}
    >
      Ayacucho
    </option>
    <option
      value="CAJAMARCA"
      {% if region == "CAJAMARCA" %}
      selected
      {% endif %}
    >
      Cajamarca
    </option>
    <option
      value="CALLAO"
      {% if region == "CALLAO" %}
      selected
      {% endif %}
    >
      Callao
    </option>
    <option
      value="CUSCO"
      {% if region == "CUSCO" %}
      selected
      {% endif %}
    >
      Cusco
    </option>
    <option
      value="HUANCAVELICA"
      {% if region == "HUANCAVELICA" %}
      selected
      {% endif %}
    >
      Huancavelica
    </option>
    <option
      value="HUANUCO"
      {% if region == "HUANUCO" %}
      selected
      {% endif %}
    >
      Huanuco
    </option>
    <option
      value="ICA"
      {% if region == "ICA" %}
      selected
      {% endif %}
    >
      Ica
    </option>
    <option
      value="JUNIN"
      {% if region == "JUNIN" %}
      selected
      {% endif %}
    >
      Junin
    </option>
    <option
      value="LA LIBERTAD"
      {% if region == "LA LIBERTAD" %}
      selected
      {% endif %}
    >
      La Libertad
    </option>
    <option
      value="LAMBAYEQUE"
      {% if region == "LAMBAYEQUE" %}
      selected
      {% endif %}
    >
      Lambayeque
    </option>
    <option
      value="LIMA"
      {% if region == "LIMA" %}
      selected
      {% endif %}
    >
      Lima
    </option>
    <option
      value="LIMA PROVINCIAS"
      {% if region == "LIMA PROVINCIAS" %}
      selected
      {% endif %}
    >
      Lima Provincias
    </option>
    <option
      value="LORETO"
      {% if region == "LORETO" %}
      selected
      {% endif %}
    >
      Loreto
    </option>
    <option
      value="MADRE DE DIOS"
      {% if region == "MADRE DE DIOS" %}
      selected
      {% endif %}
    >
      Madre de Dios
    </option>
    <option
      value="MOQUEGUA"
      {% if region == "MOQUEGUA" %}
      selected
      {% endif %}
    >
      Moquegua
    </option>
    <option
      value="PASCO"
      {% if region == "PASCO" %}
      selected
      {% endif %}
    >
      Pasco
    </option>
    <option
      value="PERUANOS RESIDENTES EN EL EXTRANJERO"
      {% if region == "PERUANOS RESIDENTES EN EL EXTRANJERO" %}
      selected
      {% endif %}
    >
      Peruanos residentes en el extranjero
    </option>
    <option
      value="PIURA"
      {% if region == "PIURA" %}
      selected
      {% endif %}
    >
      Piura
    </option>
    <option
      value="PUNO"
      {% if region == "PUNO" %}
      selected
      {% endif %}
    >
      Puno
    </option>
    <option
      value="SAN MARTIN"
      {% if region == "SAN MARTIN" %}
      selected
      {% endif %}
    >
      San Martin
    </option>
    <option
      value="TACNA"
      {% if region == "TACNA" %}
      selected
      {% endif %}
    >
      Tacna
    </option>
    <option
      value="TUMBES"
      {% if region == "TUMBES" %}
      selected
      {% endif %}
    >
      Tumbes
    </option>
    <option
      value="Ucayali"
      {% if region == "Ucayali" %}
      selected
      {% endif %}
    >
      Ucayali
    </option>
  </select>

</div>

