{% extends 'votes/base.html' %}
{% load humanize %}

{% block title %}
  Antededentes de Otorongos Elecciones 2021
{% endblock title %}

{% block content %}
  <h3>Lista de candidatos a elecciones generales 2021 ordenados por número de antecedentes declarados</h3>

  <div class="row ml-1">
    Los candidatos en "Región no definida" son aquellos que postulan a cargos:
  </div>
  <div class="row">
    <ul>
      <li>Presidencia de la República</li>
      <li>Vice Presidencia de la República</li>
      <li>Parlamento Andino</li>
    </ul>
  </div>

  <form
    action="/2021/sentencias/"
    method="get"
    role="filter"
    class="form-inline mb-0"
  >
    {% include 'votes/regiones.html' %}
    {% if org_id %}
    <input type="hidden" name="org" value="{{ org_id }}">
    {% endif %}
  </form>

  {% if org_name %}
    <h4>
      Mostrando: {{ org_name }}
    </h4>
  {% endif %}

  {% include "votes/export.html" with href="/2021/json/sentencias" %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Foto</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Partido</th>
        <th>Total antecedentes</th>
        <th>Antecedentes penales</th>
        <th>Antecedentes de obligaciones</th>
      </tr>

      </thead>
      <tbody>
      {% for candidate in page.object_list %}
        <tr>
          <td>
            <img
              src="data:image/png;base64, {{ candidate.person.photo.image }}"
              alt="Foto"
              width="75px"
            /><br/>
          </td>
          <td>
            {{ candidate.person.last_names }} {{ candidate.person.first_names }}
          </td>
          <td>
            <a href="/2021/candidato/{{ candidate.person.dni_number }}">
              {{ candidate.person.dni_number }}
            </a>
          </td>
          <td>
            {{ candidate.person.strOrganizacionPolitica }}
          </td>
          <td>
            <b>{{  candidate.sentencias_total|intcomma }}</b>
          </td>
          <td>
            {{  candidate.sentencias_penales|intcomma }}
          </td>
          <td>
            {{  candidate.sentencias_obliga|intcomma }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>

  {% if page.has_previous or page.has_next %}
    <div class="text-center">
      <nav>
        <ul class="pagination">
          {% if page.has_previous %}
            <li class="page-item">
              <a
                aria-label="Previous"
                href="?page={{ page.previous_page_number }}{% if region %}&region={{ region }}{% endif %}"
                class="page-link"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}

          {% for i in page.paginator.paginate_sections %}
            {% if page.number == i %}
              <li class="active page-item">
                <a class="page-link" href="?page={{ i }}{% if region %}&region={{ region }}{% endif %}">{{ i }}</a>
              </li>
            {% elif i == None %}
              <li class="disabled page-item"><a class="page-link" href="#">…</a></li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}{% if region %}&region={{ region }}{% endif %}">{{ i }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if page.has_next %}
            <li class="page-item">
              <a
                aria-label="Next"
                class="page-link"
                href="?page={{ page.next_page_number }}{% if region %}&region={{ region }}{% endif %}"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}

        </ul>
      </nav>
    </div>
  {% endif %}
{% endblock content %}